body {
    background-image: url("image/matrix.gif");
    background-color: cornflowerblue;
    color: white;
}

.box {
    margin: auto;
    width: 65%;
    height: 820px;
    margin-top: 5%;
    border: 5px solid black;
    border-radius: 25px;
    text-align: center;
    background-color: rgb(40, 121, 39);
    position: relative;
}

#overskrift {
    position: relative;
    text-align: center;
    font-size: larger;
    font-size: 60px;
    margin-top: auto;
    padding-top: 20px;
}

.player {
    padding-right: 50px;
    position: relative;
}

#resultat {
    position: relative;
    font-size: 50px;
    text-align: center;
}

button {
    margin-right: 20px;
    padding: 0px;
    border: 2px solid black;
    border-radius: 25px;
    margin: 30px;
}

button img {
    border-radius: 25px;
    width: 250px;
    height: 150px;
}

.poengSystem {
    font-size: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
}

#info {
    font-size: 25px;
}