body {
    background-image: url("image/matrix.gif");
    background-color: cornflowerblue;
    color: white;
    margin: 0px;
    padding: 0px;
}

.box {
    margin: auto;
    width: 55%;
    height: 1000px;
    margin-top: 5%;
    border: 5px solid black;
    border-radius: 25px;
    text-align: center;
    background-color: rgb(40, 121, 39);
    position: relative;
}

p {
    position: relative;
    text-align: center;
    font-size: larger;
    font-size: 65px;
    margin-top: auto;
    padding-top: 20px;
}

.player {
    font-size: 30px;
    padding-right: 50px;
    position: relative;
}

#resultat {
    position: relative;
    left: 0px;
    font-size: 65px;
    text-align: center;
}

button {
    margin-right: 20px;
    padding: 0px;
    border: 2px solid black;
    border-radius: 25px;
    margin: 30px;
}

button img {
    border-radius: 25px;
    width: 350px;
    height: 250px;
}

.poengSystem {
    margin-top: 20px;
    display: grid;
    width: auto
}

.playerOne {
    position: relative;
    left: -300px;
}

.playerTwo {
    position: absolute;
    right: 300px;
    text-align: left;
}